<select id="escalationSelect"
        class="choices form-select multiple-remove"
        name="user_ids"
        multiple="multiple">
    <optgroup label="Select affected host">
        {% for user in escalated %}
            <option value={{ user.id }} selected>{{ user.username }}
            </option>
        {% endfor %}
        {% for user in allowed %}
            <option value={{ user.id }}>{{ user.username }}
            </option>
        {% endfor %}
    </optgroup>
</select>
<script>
  var elEsc = document.querySelector("#escalationSelect");
  var escChoices = new Choices(elEsc, {removeItems: true, removeItemButton: true, searchFields: ['label',]});
</script>
