{% for user in users.data %}
    <tr>
        <td>{{ loop.index + (users.page - 1) * users.size }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ 'Active' if user.active else 'Inactive'}}</td>
        <td>{{ user.role.name }}</td>
        <td>
            <a href="user/{{ user.id }}"><i class="fas fa-solid fa-user-pen"></i></a>
        </td>
    </tr>
{% endfor %}
{% if users.page + 1 <= users.total_page %}
    <tr hx-get="list?page={{ users.page + 1 }}"
        hx-indicator="#spinner"
        hx-trigger="revealed"
        hx-vals='{{ query }}'
        hx-swap="outerHTML">
        <td colspan="6">
            <div id="spinner" class="htmx-indicator">Loading...</div>
        </td>
    </tr>
{% endif %}
