{% set title = "Host" %}
{% set filename = "host" %}
{% extends 'layouts/master.html' %}
{% block styles %}
<link rel="stylesheet" href="/assets/css/choices.css" />
{% endblock %}
{% block content %}
<div class="page-heading">
  <h3>
    {{ host }} Dashboard
    <span class="badge bg-success">
      {%if finding%} {{finding.product.name}} | {{finding.product.environment.name | title}}{%endif%}
    </span>
  </h3>
  <div id="finding_header_id">
    Last Update : {{logs.last_update.strftime('%d-%m-%Y') if logs is defined else 'DD-MM-YYYY' }}
    <code>|</code>
  </div>
</div>
<div class="page-content">
  <!--Row3-->
  <section class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4>Vulnerability Chart</h4>
        </div>
        <div class="card-body">
          <div hx-get="/chart/host/risk?host={{host}}" hx-trigger="load"></div>
          <div id="risk">
          </div><br>
        </div>
      </div>
    </div>
    {#
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h4>Aging Finding</h4>
        </div>
        <div class="card-body">
          <div id="aging"></div>
          <div display:None></div>
        </div>
      </div>
    </div>
    #}
  </section>
  <!--EO Row3-->

  <!-- Table -->
  <section class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4>Findings</h4>
          <button disabled class="btn icon btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">

            <i class="bi bi-filter"></i>
            Filter

          </button>
          {#
          <div id="filterModal" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
            {% include "pages/host/component/findingFilterModal.html"%}
          </div>
          #}
        </div>
        <div class="card-body">
          <div class="table-responsive" id="tableDivID">
            <table class="table table-hover mb-0">
              <thead>
                <tr style="text-align: center;">
                  <th style="text-align: left">Name</th>
                  <th>Severity</th>
                  <th>VPR</th>
                  <th>Status</th>
                  <th>CVE</th>
                  <th>Port</th>
                  <th>Scan Date</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody id="findings_table" hx-get="/host/findings?host={{host}}"
                hx-trigger="load, reload-findings from:body" hx-indicator="#spinner">

                <tr>
                  <td colspan="6">
                    <div id="spinner" class="htmx-indicator">
                      Loading...
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </section>
  <!-- EO TABLE -->
</div>
{% endblock %}
{% block js %}

<script src="/assets/js/choices.js" type="module"></script>
<!--<script src="/assets/components/js/pages/product.js" defer></script>-->
<script src="/assets/components/js/pages/host.js" defer></script>

<script id="finding-filter-script-id">
</script>

{% endblock %}
