<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="color: maroon;">{{severity.value }} Findings Breach {{sla}} Days SLA</h5>
    <div class="list-group">
      {% for finding in findings %}
      <table class="table table-striped">
        <thead>
          <tr>
            <td>
              <b>{{finding.name}}
                <br>Solution: </b>{{finding.remediation}}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <small class="text-muted">Affected Host: <br>
                {% for host, breach in host_fn_breach.get(finding.finding_name_id, {}).items() %}
                <a href="/host?host={{host}}">
                  {{host}}
                <span class="badge rounded-pill bg-white text-dark">
                  {{breach}}
                </span>
                </a>
                {% if not loop.last %}
                  |
                {%endif%}
                {%endfor%}
              </small>
            </td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>
</div>
