{% set title = project_type.upper() + " - Management View" %}
{% set menuKey = "/management-view" %}
{% set sidebarname = project_type %}
{% extends 'layouts/master.html' %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="page-heading">
  <h3>{{project_type}} - Management View</h3>
</div>
<div class="page-content">
  <!--Row-->
  <!-- Row -->
  <section class="row">
    <div class="row">
      <!-- Middle side columns -->
      <form id="detail-form" hx-get="overall">
        <div class="row">
          <div class="col-8 mb-1">
            <div class="input-group mb-3">
              <label class="input-group-text">Project</label>
              <select class="form-select" id="project-select" name="project_id" hx-get="detail" hx-target="#mv-card">
                <option value="">Select Project</option>
                {% for project in projects %}
                <option value={{project.id}}>
                  {{project.name}}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-4 mb-1">
            <div class="input-group mb-3">
              <label class="input-group-text">Year</label>
              <select class="form-select" name="year" id="year-select">
                {% for i in range(min_year - now.year + 1) %}
                <option value=2025>{{now.year - i}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </form>
      <div id="hidden-input">
      </div>
    </div>
    <div class="col-12">
      {% include "pages/management_view/vapt/component/tabs.html"%}
    </div>
  </section>
</div>
{% endblock %}
{% block js %}
<script id="overall-chart-js"></script>
{% endblock %}
