{% extends 'pages/management_view/vapt/component/detail.html' %}

{% block content %}
<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Score</h4>
        </div>
        <div class="card-content">

        </div>
      </div>
    </div>
  </div>
</section>
<div id="add-remark-modal" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock content %}
