{% set title = "Manage User" %}
{% set filename = "/manage-user" %}
{% extends 'layouts/master.html' %}
{% block styles %}
<link rel="stylesheet" href="assets/extensions/choices.js/public/assets/styles/choices.css">
{% endblock %}
{% block content %}
<div class="page-heading">
  <h3>User Configuration Dashboard</h3>
</div>
<div class="page-content">
  <!--Row-->
  <!-- Row -->
  <section class="row">
    <div class="row">
      <!-- Middle side columns -->
      <div class="col-lg-12" id="user_search_id">
        {% include "pages/manage_user/form/search.html" %}
      </div>
      <div class="col-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>User List</h4>
          </div>
          <div class="card-body">
            <!-- Table with stripped rows -->
            <table class="table">
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Role</th>
                  {%if is_admin %}
                  <th>Manage</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody id="user_table_id" hx-get="list" hx-trigger="load, reload-user-list from:body"
                hx-indicator="#spinner">
                <tr>
                  <td colspan="6">
                    <div id="spinner" class="htmx-indicator">
                      Loading...
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block js %}
<script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="assets/static/js/pages/ui-apexchart.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}
