{% set title = "Manage User" %}
{% set filename = "/manage-user" %}
{% extends 'layouts/master.html' %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="page-heading">
  <h3>User Configuration Dashboard</h3>
</div>
<div class="page-content">
  <!--Row-->
  <!-- Row -->
  <section class="row">
    <div class="row">
      <!-- Middle side columns -->
      <div class="col-lg-12" id="user_search_id">
        {% include "pages/manage_user/form/search.html" %}
      </div>
      <div class="col-12 col-md-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h4>User List</h4>
            <a class="btn icon btn-primary" hx-get="list/external" hx-swap="innerHTML" hx-target="#user_table_id"
              hx-include="#user_search_input" hx-indicator="#external-spinner,#hide-spinner" hx-disabled-elt="this">
              <span id="hide-spinner" class="hide-during-request">Search External</span>
              <span id="external-spinner" class="htmx-indicator">
                <i class="fa fa-spinner fa-spin"></i>
              </span>
            </a>
          </div>
          <div class="card-body">
            <!-- Table with stripped rows -->
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Role</th>
                  {%if is_admin %}
                  <th>Manage</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody id="user_table_id" hx-get="list" hx-trigger="load, reload-user-list from:body"
                hx-indicator="#spinner">
                <tr>
                  <td colspan="6">
                    <div id="spinner" class="htmx-indicator">
                      Loading...
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% include "pages/manage_user/form/add_oidc.html" %}
{% endblock %}
{% block js %}
<script>
  document.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget; // The button that triggered the modal
    const userName = button.getAttribute('data-user-name');
    const userEmail = button.getAttribute('data-user-email');

    const modal = document.getElementById('oidc_modal');
    modal.querySelector('#oidc_username').value = userName;
    modal.querySelector('#oidc_email').value = userEmail;
  });
</script>
{% endblock %}
