<div class="form-group">
    <label for="username" class="form-label">Name [Read Only]</label>
    <input type="text"
           id="username"
           readonly
           class="form-control"
           placeholder="Your Name"
           value="{{ user.username }}">
</div>
<div class="form-group">
    <label for="email" class="form-label">Email [Read Only]</label>
    <input type="text"
           readonly
           id="email"
           class="form-control"
           placeholder="Your Email"
           value="{{ user.email }}">
</div>
<div class="form-group">
    <label for="status" class="form-label">Status</label>
    <select name="active" id="status" class="form-control">
        <option value=true {% if user.active %}selected{% endif %}>Active</option>
        <option value=false {% if not user.active %}selected{% endif %}>Inactive</option>
    </select>
</div>
<div class="form-group">
    <label for="role" class="form-label">Role</label>
    <select name="role_id" id="role" class="form-control">
        {% for role in roles %}
            <option value="{{ role.id }}"
                    {% if role.id==user.role_id %}selected{% endif %}>{{ role.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Save Changes</button>
</div>
