{% set now = get_now() %}
<div class="card">
  <div class="card-header">
    <h4>
      {{ env.name | title if env is defined else '' }} | {{
      "{:02d}".format(month|int) }}-{{ year }}
    </h4>
    <br />
    <div class="input-group mb-3">
      <select class="form-select" name="date_str" hx-get="/chart/env?env_id={{env.id}}">
        <option selected disabled>Select Date...</option>
        {%for y in range(now.year, start_dt_opts.year -1, -1)%}
          {% set m_start = now.month if y == now.year else 12 %}
          {% set m_end = start_dt_opts.month if y == start_dt_opts.year else 1 %}
          {% for m in range(m_start, m_end - 1, -1) %}
            <option value="{{ y }}-{{ '%02d'|format(m) }}-01"
              {% if y == year and m == month %} selected {% endif %}>
              {{ '%02d'|format(m) }}-{{ y }}
            </option>
          {% endfor %}
        {%endfor%}
      </select>
      <label class="input-group-text" for="inputGroupSelect01">Options</label>
    </div>
  </div>
  <div class="card-body">
    <div id="chart_{{ request.headers['hx-target'] }}"></div>
    <br />
    <div class="table-responsive">
      {% if view == "severity" %}
      {% include "shared/charts/severity_card.html" %}
      {% else %}
      {% include "shared/charts/status_card.html" %}
      {% endif %}
    </div>
  </div>
</div>
