<div class="card">
  <div class="card-header">
    <h4>
      {{ env.name | title if env is defined else '' }} | {{
      "{:02d}".format(month|int) }}-{{ year }}
    </h4>
    <br />
    <div class="input-group mb-3">
      <select class="form-select" name="date_str" hx-get="/chart/env?env_id={{env.id}}">
        <option selected disabled>Select Date...</option>
        {% for date_option in date_options %}
        <option value="{{ date_option.year }}-{{ '{:02d}'.format(date_option.month | int) }}-01" {% if
          date_option.month==month and date_option.year==year %} selected {%endif%}>
          {{ '{:02d}'.format(date_option.month | int) }}-{{ date_option.year }}
        </option>
        {% endfor %}
      </select>
      <label class="input-group-text" for="inputGroupSelect01">Options</label>
    </div>
  </div>
  <div class="card-body">
    <div id="chart_{{ request.headers['hx-target'] }}"></div>
    <br />
    <div class="table-responsive">
      {% if view == "severity" %}
      {% include "shared/charts/severity_card.html" %}
      {% else %}
      {% include "shared/charts/status_card.html" %}
      {% endif %}
    </div>
  </div>
</div>
