<div class="card">
  <div class="card-header">
    <h4>
      {% if env == "production" %}
      Production
      {% else %}
      Non-Production
      {% endif %}
       | {{"{:02d}".format(month|int) }}-{{ year }}
    </h4>
  </div>
  <div class="card-body">
    <div id="chart_{{ request.headers['hx-target'] }}"></div>
  </div>
  <script>
    window["{{request.headers['hx-target']}}-var"] = new ApexCharts(
      document.getElementById("chart_{{request.headers['hx-target']}}"),
      {
        ...riskPie,
        noData: {text: 'No Data'},
        series: {{data | tojson | safe }}
      }
    );
    window["{{request.headers['hx-target']}}-var"].render()
  </script>
</div>
