<script>
  chartOptions = {
    ...areaOptions,
    labels: ["Open", "New", "Closed", "Exempted"],
    series: [
      {
        name: "Open",
        data: {{chart.Open}},
      },
      {
        name: "New",
        data: {{chart.New}},
      },
      {
        name: "Closed",
        data: {{chart.Closed}},
      },
      {
        name: "Exempted",
        data: {{chart.Exempted}},
      },
    ],
  }

  var chart = new ApexCharts(
    document.getElementById(`{{env}}-year-chart`),
    chartOptions
  )
  chart.render()
</script>
