<!-- Affected Hosts -->
<div class="card">
    <div class="card-header">
        <b>Affected Host:
            <br />
            <br />
            {% for host in fn_data.hosts %}
            </b>
            <span class="badge bg-secondary mr-1">{{ host }}
              <span class="badge rounded-pill bg-white text-dark">
                {{ breach_dict[host] if host in breach_dict else 'x' }}
              </span>
            </span>
        {% endfor %}
    </div>
    <div class="card-body">
        <pre style="background-color: #f0f0f0;;">
          {{fn_data.evidence | safe}}
        </pre>
    </div>
</div>
