<tr>
  <td class="col-auto">
    <div>
      <div class="d-flex justify-content-between">
        <small style="color: blue;">
          {{ comment.commentor.username | title }}@{{ comment.created_at | datetime_format("%d/%m/%Y") }}
        </small>
        <div>
          <a class="btn btn-sm btn-danger"
             hx-delete="/finding/{{finding_name_id}}/comment/{{comment.id}}"
             hx-swap="delete"
             hx-confirm="Delete this comment: {{comment.comment}}"
             hx-target="closest tr">
            <i class="fas fa-solid fa-trash-alt"></i>
          </a>
        </div>
      </div>
      {{ comment.comment }}
    </div>
  </td>
</tr>
