{% set user_info = get_user_info() %}
{% set permissions = get_user_permissions() %}
<tr class="comment" data-comment-date='{{comment.created_at}}' data-comment-id="{{comment.id}}">
  <td class="col-auto">
    <div>
      <div class="d-flex justify-content-between">
        <small>
          <strong style="color:blue">{{ comment.commentor.username | title }}</strong>
          &nbsp;•&nbsp;
          <small>
            <span id="comment_timer_{{comment.id}}"></span>
          </small>
        </small>
        {% if "all" in permissions or "comment:delete-admin" in permissions %}
        <div>
          <a class="btn btn-sm btn-danger" hx-delete="/finding/comment/{{comment.id}}/admin"
                                           hx-swap="delete"
                                           hx-confirm="Delete this comment: {{comment.comment}}"
                                           hx-target="closest tr">
            <i class="bi bi-trash"></i>
          </a>
        </div>
        {% elif comment.commentor.id | string == user_info.userid %}
        <div>
          <a class="btn btn-sm btn-danger" hx-delete="/finding/comment/{{comment.id}}"
                                           hx-swap="delete"
                                           hx-confirm="Delete this comment: {{comment.comment}}"
                                           hx-target="closest tr">
            <i class="bi bi-trash"></i>
          </a>
        </div>
        {% endif %}
      </div>
      <div>
        {{ comment.comment }}
      </div>
    </div>
  </td>
