<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - {{ web_title }}</title>
        <link rel="stylesheet" href="/assets/compiled/css/app.css">
        <link rel="stylesheet" href="/assets/css/themes/dark/app-dark.css">
        <link rel="stylesheet" href="/assets/css/pages/auth.css">
        <link rel="shortcut icon"
              href="/assets/static/images/logo/favicon.svg"
              type="image/x-icon">
        <link rel="shortcut icon"
              href="/assets/static/images/logo/favicon.png"
              type="image/png">
        <script src="https://unpkg.com/htmx.org@2.0.4"
                integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <script src="/assets/static/js/initTheme.js"></script>
        <div id="auth">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
