<!DOCTYPE html>
{% set permissions = get_user_permissions() %}
{% set user_info = get_user_info() %}
{% set is_admin = is_admin() %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="htmx-config"
    content='{
          "responseHandling":[
              {"code":"204", "swap": false},
              {"code":"[23]..", "swap": true},
              {"code":"422", "swap": true, "error": true},
              {"code":"[45]..", "swap": false, "error":true},
              {"code":"...", "swap": true}
          ]
      }'
  />
  <title>Sentinel - {{ title }}</title>
  <style>
    .htmx-indicator {
      display: none;
    }

    .htmx-request .htmx-indicator {
      display: inline;
    }

    .htmx-request.htmx-indicator {
      display: inline;
    }
  </style>
  {% block stylesfirst %}{% endblock %}
  <link rel="stylesheet" href="/assets/compiled/css/app.css" />
  <link rel="stylesheet" href="/assets/compiled/css/app-dark.css" />
  <link rel="shortcut icon" href="/assets/static/images/logo/favicon.svg" type="image/x-icon">
  <link rel="shortcut icon" href="/assets/static/images/logo/favicon.png" type="image/png">

  <link rel="stylesheet" href="/assets/extensions/sweetalert2/sweetalert2.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  {% block styles %}{% endblock %}
</head>

<body>
  <script src="/assets/static/js/initTheme.js"></script>
  <div id="app">
    <div id="sidebar">{% include "layouts/sidebar.html" %}</div>
    <div id="main">
      <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
          <i class="bi bi-justify fs-3"></i>
        </a>
      </header>
      {% block content %}{% endblock %}
      {% include 'layouts/footer.html' %}
    </div>
  </div>
  <script src="/assets/static/js/components/dark.js"></script>
  <script src="/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="/assets/extensions/dayjs/dayjs.min.js"></script>
  <script src="/assets/compiled/js/app.js"></script>
  <script>
    document.addEventListener("htmx:confirm", function (e) {
      if (!e.detail.elt.hasAttribute('hx-confirm')) return

      e.preventDefault()
      Swal.fire({
        title: "Are you sure?",
        text: `${e.detail.question}`
      }).then(function (result) {
        if (result.isConfirmed) {
          // If the user confirms, we manually issue the request
          e.detail.issueRequest(true); // true to skip the built-in window.confirm()
        }
      })
    })

    document.addEventListener("htmx:responseError", function (e) {
      const xhr = e.detail.xhr

      Swal.fire({
        icon: "error",
        title: xhr.status,
        text: JSON.parse(xhr.responseText),
        timer: 3500,
      });
    })
  </script>
  <script src="/assets/extensions/sweetalert2/sweetalert2.js"></script>
  <script src="/assets/static/js/pages/sweetalert2.js"></script>
  <script src="/assets/extensions/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/static/js/pages/ui-apexchart.js"></script>
  <script src="/assets/static/js/pages/custom.js"></script>
  <script id="toast-global-id"></script>
  {% block js %}{% endblock %}
</body>

</html>
