<script>
  $(document).ready(function () {
    prodOptions = {
      ...areaOptions,
      series: [
        {
          name: "Critical",
          data: {{chart.prod.Critical}},
        },
        {
          name: "High",
          data: {{chart.prod.High}},
        },
        {
          name: "Medium",
          data: {{chart.prod.Medium}},
        },
        {
          name: "Low",
          data: {{chart.prod.Low}},
        },
      ],
    }


    nonprodOptions = {
      ...areaOptions,
      series: [
        {
          name: "Critical",
          data: {{chart.nonprod.Critical}},
        },
        {
          name: "High",
          data: {{chart.nonprod.High}},
        },
        {
          name: "Medium",
          data: {{chart.nonprod.Medium}},
        },
        {
          name: "Low",
          data: {{chart.nonprod.Low}},
        },
      ],
    }

    var prod_aging = new ApexCharts(
      document.getElementById("prod_aging"),
      prodOptions
    )
    prod_aging.render()

    var nonprod_aging = new ApexCharts(
      document.getElementById("nonprod_aging"),
      nonprodOptions
    )
    nonprod_aging.render()

})
</script>
