{% set title = "Findings" %}
{% set filename = "findings.html" %}
{% extends 'layouts/master.html' %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" />
<style>
  .comment .btn-danger {
    display: none;
  }

  .comment:hover .btn-danger {
    display: inline-block;
  }
</style>
{% endblock %}
{% block content %}
<div class="page-heading">
  <h3>{{data.name}}</h3>
  Last Scan Date : {{data.findings.0.last_update | datetime_format("%d-%m-%Y")}}
</div>
<div class="page-content">
  <!--Row1-->
  <section class="row">
    <!-- Start: Status Card -->
    {% for data in
    [
    {"title": product.name, "icon": "folder-open", "data": product.environment.name, "color": "blue"},
    {"title": "Severity", "icon": "shield", "data": data.findings.0.severity.value},
    {"title": "Nessus VPR Score", "icon": "circle-exclamation", "data": data.findings.0.vpr_score},
    {"title": "Status", "icon": "spinner", "data": data.findings.0.status.value},
    ]
    %}
    {% include "pages/finding/component/statusCard.html" %}
    {% endfor %}
    <!-- End: Status Card -->
  </section>
  <!--Eo Row1-->
  <!-- Row2 -->
  <section class="row">
    <div class="col-8">
      <!-- Description Card -->
      <div class="card">
        <div class="card-header">
          <h4>Description</h4>
        </div>
        <div class="card-body">
          <p>{{data.description | safe}}</p>
        </div>
      </div>
      <!-- Solution Card -->
      <div class="card">
        <div class="card-header">
          <h4>Solution</h4>
        </div>
        <div class="card-body">
          {{data.findings.0.remediation}}
        </div>
      </div>
      <!-- Help Button Card -->
      <div class="card">
        <div class="card-body">
          <div class="buttons">
            <a href="#" class="btn icon icon-left btn-primary">
              <i class="fa-solid fa-robot"></i>&nbsp;&nbsp;Unclear? Ask AI for help!
            </a>
          </div>
        </div>
      </div>
      {% for host,findings in findings_dict.items() %}
      {% include "pages/finding/component/affected_host.html" %}
      {% endfor %}
    </div>
    <div class="col-4">
      <!-- ITS Remarks -->
      {% include "pages/finding/component/remark.html"%}
      <!-- Start: Comments -->
      <div class="card">
        <div hx-get="{{data.id}}/comments" hx-indicator="#spinner" hx-trigger="load">
          {% include "pages/finding/component/comments.html" %}
        </div>

        {% if "comment:create" in permissions or "all" in permissions %}
        <div class="card">
          <form hx-post="{{ data.id }}/comment" hx-swap="beforeend" hx-target="#comments_table_id">
            <div class="card-body">
              <div class="form-group mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comment:</label>
                <textarea class="form-control" id="comment_post" name="comment" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">
                Post Comment
              </button>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
      <!-- End: Comments -->
  </section>
  <!-- End of Row2 -->
</div>
{% endblock %}
{% block js %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<script src="/assets/extensions/choices.js/public/assets/scripts/choices.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>

<script src="/assets/static/js/pages/form-element-select.js"></script>
{% endblock %}
