{% set title = "Forgot Password" %}
{% extends 'layouts/auth.html' %}
{% block content %}
<div class="row h-100">
  <div class="col-lg-5 col-12">
    <div id="auth-left">
      <div class="auth-logo">
        <a href="index.html">
          <img src="/assets/static/images/logo/logo.svg" alt="Logo">
        </a>
      </div>
      <h1 class="auth-title">Reset Your Password</h1>
      <div id="reset-password-form">
        <p class="auth-subtitle mb-5">Create your new password here!</p>
        <div id="error-alert-id"></div>
        <form hx-post hx-disable-elt="#reset-submit-btn" hx-target="#reset-password-form">
          <div class="form-group position-relative has-icon-left mb-4">
            <input name="new_pass" type="password" class="form-control form-control-xl" placeholder="Password">
            <div class="form-control-icon">
              <i class="bi bi-shield-lock"></i>
            </div>
          </div>
          <div class="form-group position-relative has-icon-left mb-4">
            <input name="confirm_pass" type="password" class="form-control form-control-xl"
              placeholder="Confirm Password">
            <div class="form-control-icon">
              <i class="bi bi-shield-lock"></i>
            </div>
          </div>
          <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit" id="reset-submit-btn">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-7 d-none d-lg-block">
    <div id="auth-right"></div>
  </div>
</div>
{% endblock %}
