<div class="col-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="stats-icon red mb-2 me-3">
          <i class="fas fa-frown"></i>
        </div>
        <div>
          <h6 class="text-muted font-semibold">Warning</h6>
          <h6 id="log_warning_id" class="font-extrabold mb-0">
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Card 2 -->
<div class="col-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="stats-icon red mb-2 me-3">
          <!-- Added margin-right -->
          <i class="fas fa-grimace"></i>
        </div>
        <div>
          <h6 class="text-muted font-semibold">Failed</h6>
          <h6 id="log_failed_id" class="font-extrabold mb-0">
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Card 4 -->
<div class="col-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="stats-icon black mb-2 me-3">
          <!-- Added margin-right -->
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div>
          <h6 class="text-muted font-semibold">Total Compliance</h6>
          <h6 id="log_total_id" class="font-extrabold mb-0"></h6>
        </div>
      </div>
    </div>
  </div>
</div>
