<form hx-encoding="multipart/form-data"
      hx-post="{{ product.id if product is defined else product_id }}/upload"
      id="upload_fn_id"
      hx-swap="none"
      hx-disabled-elt="find button"
      hx-on::before-request="SweetAlert('Upload in Progress', 'This page will be updated once file successfully uploaded', 'info')"
      hx-on::after-request="if (event.detail.xhr.status === 200){this.reset();}"
      >
    {% set min_date = logs.log_date.strftime('%Y-%m-%d') if logs else "DD-MM-YYYY" %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="scanDate" class="form-label">Scan Date</label>
                <input type="date"
                       name="scan_date"
                       id="scan_date"
                       class="form-control"
                       placeholder="Scan Date"
                       min={{min_date}}
                       max={{now.strftime('%Y-%m-%d')}}
                       required />
            </div>
            <br />
            <div class="form-group">
                <label for="plugin" class="form-label">Plugin Source</label>
                <select name="plugin" id="plugin_id" class="form-control">
                    <option selected="">Select source...</option>
                    {% for pl in plugins %}
                        <option value={{ pl.id }}>
                            {{ pl.name | title if pl.name != "manual" else "Manual (Pentest)" }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" hx-disinherit="hx-post">
                <label for="formFile" class="form-label">File Upload</label>
                <input class="form-control form-control" name="formFile" type="file" />
            </div>
            <br />
            <div class="form-group">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block me-2 mb-1">
                        <div class="form-check">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="form-check-input form-check-danger"
                                       checked=""
                                       name="process_new_finding"
                                       id="process_new_finding" />
                                <label class="form-check-label" for="customColorCheck4">
                                    <p>Uncheck to skip processing new findings.</p>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="form-check-input form-check-danger"
                                       name="sync_update"
                                       id="sync_update"
                                       disabled
                                       />
                                <label class="form-check-label">
                                    <p>
                                        Check to allow other projects to update this project's
                                        status.
                                    </p>
                                </label>
                            </div>
                            {# TODO: overwrite functionality
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="form-check-input form-check-danger"
                                       name="overwrite"
                                       id="overwrite" />
                                <label class="form-check-label">
                                    <p>
                                        Check to overwrite uploaded scan for the same date and plugin source.
                                    </p>
                                </label>
                            </div>
                            #}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group mt-3 text-end">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</form>
